{% extends "base.html" %}
{% block content %}
    <h1>Расчет выручки за смену</h1>
    <form method="get">{% csrf_token %}
        <label for="start-time">Начало смены:</label>
        <input type="datetime-local" id="start-time" name="start_time" value="{{ start_time }}" required>

        <label for="end-time">Конец смены:</label>
        <input type="datetime-local" id="end-time" name="end_time" value="{{ end_time }}" required>

        <button type="submit">Рассчитать</button>
    </form>

        {% if total_revenue or total_orders %}
        <h2>Результаты:</h2>
        <p>Общая выручка: {{ total_revenue }} руб.</p>
        <p>Количество заказов: {{ total_orders }}</p>

        <h3>Детали заказов:</h3>
        <table>
            <thead>
                <tr>
                    <th>ID заказа</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.order_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Введите параметры смены, чтобы увидеть результаты.</p>
    {% endif %}
  
{% endblock content %}
