h1{
    color: white;
}
table{
    width: 100%;
    text-align: center;
    margin: 0;
    border-collapse: collapse;
    border-radius: 5px;
}
tr{
    background-color: #94C3ED;
    height: 40px;
    border-bottom: 1px solid white;
}
th{
    font-size: 24px;
}
td{
    font-size: 16px;
}
.delete_link{
    color: red;
    text-decoration: none;
    font-weight: bold;
}