{% extends "base.html" %}

{% block header %}
    Меню
{% endblock header %}

{% block content %}
{% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}
    <a href='{% url "menu:food-add" %}' class='add_link'>Добавить блюдо</a>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
        {% for menu_item in menu %}
        <tr>
            <td>{{ menu_item.name }}</td>
            <td>{{ menu_item.price }} ₽</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
